@import url(./var.css);

body {
  font-family: var(--font);
  background-color: var(--tono2);
}

/* Navbar pasas esto a modo celular en el media query de 768px apartir de ahi aparecere esto */

.logo {
  letter-spacing: 4px;
  font-size: 20px;
  padding: 10px;
  color: var(--tono3);
}

.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  width: 100%;
  background-color: var(--tono1);
}

.btn_navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 64px;
  left: 100px;
  border: none;
  border-style: none;
  border-width: 0px;
  cursor: pointer;

}

.container_btn {
  position: relative;
  width: 20px;
  height: 14px;
  line-height: inherit;
  overflow: hidden;
}

.top {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: var(--tono3);
  transition: top .25s, background-color .5s transform .25s;
  top: 0;
  left: 0;
  transform: translate(0);

}

.middle {
  position: absolute;
  top: 7px;
  left: 0;
  width: 16px;
  height: 2px;
  background-color: var(--tono3);
  transition: top .25s, background-color .5s transform .25s;
}

/* fin del nabvar */

.hero {
  background-color: var(--tono1);
  height: 100vh;
  width: 100%;
}

.hero_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

.hero_title {
  font-size: var(--h1);
  color: var(--tono3);
  letter-spacing: 0.60rem;
  font-weight: bold;
  width: 663.43px;
}

.hero_btn {
  border: 2px solid var(--tono3);
  padding: 20px;
  width: 150px;
  border-radius: 30px;
  text-decoration: none;
  letter-spacing: 1px;
  color: var(--tono3);
  font-weight: 700;
  transition: all 0.3s cubic-bezier(0, 0.83, 1, 0.29);
}

.hero_producto {
  width: 13%;
}

.hero_btn:hover {
  background-color: var(--tono4);
  color: var(--tono1);
  border: 2px solid var(--tono1);
}

.quienesSomos {
  height: 70vh;
  text-align: center;
  justify-content: center;

}

.quienesSomos_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.quienesSomos_contenido {
  padding: 20px;
}

.quienesSomos_title {
  font-size: 60px;
  color: var(--tono4);
  text-align: center;
  letter-spacing: 0.60rem;
  font-weight: bold;
}

.quienesSomos_subtitle {
  font-size: 50px;
  color: var(--tono4);
  text-align: center;
  font-weight: bold;
}

.quienesSomos_text {
  width: 435px;
  font-size: 20px;
  font-weight: bold;
  color: var(--tono3);
}

.quienesSomos_img {
  width: 20rem;
}
.ecopads_contenido{
 display: flex;
 flex-direction: column;
 background-color: var(--tono2);
}
.ecopads{
  background-color: var(--tono1);
  height: 100vh;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.ecopads_title{
  font-size: 60px;
  color: var(--tono4);
  text-align: center;
  margin: 0;
  padding: 10px;
  letter-spacing: 0.60rem;
  font-weight: bold;
}
.ecopadsFlex{
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  
}
.ecopads_img{
  position: relative;
  left: 10%;
  width: 20rem;
}
.ecopads_text{
  width: 100%;
  text-align: left;
  font-size: 25px;
  color: var(--tono3);
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .hero_title {
    font-size: 40px;
    width: 100%;
    letter-spacing: 0.25rem;
  }

  .hero_btn {
    width: 40%;
    margin-top: 40px;
  }

  .hero_producto {
    width: 35%;
  }

  .quienesSomos_text {
    width: 100%;
  }

  .quienesSomos_container {
    flex-direction: column;
  }

  .quienesSomos_subtitle {
    font-size: 40px;
  }

  .quienesSomos {
    height: 100vh;
  }
  .ecopadsFlex{
    grid: none;
    display: flex;
    flex-direction: column;

  }
  .ecopads_text{
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: var(--text);
  }
  .ecopads_img{
    position: relative;
    left: 0%;
    width: 15rem;
  }
  .ecopads_title{
    font-size: 40px;
    color: var(--tono4);
    text-align: center;
    margin: 0;
    padding: 10px;
    height: 30vh;
    background-color: var(--tono1);
    letter-spacing: 0.60rem;
    font-weight: bold;
  }
}

@media screen and (max-width: 1286px) {
  .hero_producto {
    width: 20%;
  }

  .quienesSomos_text {
    width: 100%;
  }


  .hero_title {
    font-size: 50px;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .hero_title {
    font-size: 25px;
  }

  .hero_btn {
    width: 50%;
  }

  .hero_producto {
    width: 50%;
  }

  .quienesSomos_title {
    font-size: 30px;
    width: 100%;

  }

  .quienesSomos_text {
    font-size: 16px;
  }

  .quienesSomos_img {
    width: 15rem;
  }
}